body .body1{
    background-color: #2E67F8;

}

.bg-roomservice{
    
    background-image: url('../assets/room1.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bg-roomfade
{
    background-image: linear-gradient(90deg, rgba(247, 25, 136, 0) 0%, rgba(46, 103, 248, 1) 100%);
}

/* .blur {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px); 
    height: 100vh;
      width: 50%;
  } */

.keeperfix{
    position: fixed;
    bottom: 0;
    left: 95px;
    /* width: 600px; */
    height: 630px;
}

.Form-ApplyforWork
{
    margin-left: 700px;
    width: 610px;
    /* border: 3px solid #73AD21; */
    padding: 30px;
    text-align: center;
}

.join-with-us
{
    margin-top: 15px;
    font-family: 'Mitr', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color:white;
}

.join-with-us-text
{
    margin-top: 0px;
    margin-bottom: 35px;
    font-family: 'Mitr', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color:white;
}