@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');


.contain-forgot-page
{
    position: fixed;
    width: 100%;
}
.bg-img{
    
    background-image: url('../assets/room1.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-roomfade-forgot
{
    height: 800px;
    background-image: linear-gradient(180deg, rgba(247, 25, 136, 0) 0%, rgba(46, 103, 248, 1) 100%);
}

.box-forget{
    /* display: flex; */
    width: 590px;
    height: 440px;
    background: #C2D3FF;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 12px 7px rgba(46, 103, 248, 0.1);
}

.for-Formforget{
    width: 590px;
    padding-top: 5%;
    margin: auto;
    text-align: center;
}

.forgetpass-text{
    /* position: relative; */
    font-weight:500;
    font-size: 32px;
    font-family: 'Mitr', sans-serif;
    color: #2E67F8;
    padding-top: 30px;
}

.sendmail-text{
    /* position: relative; */
    font-weight:400;
    font-size: 18px;
    font-family: 'Mitr', sans-serif;
    color: #2E67F8;
    margin-top: 5px;
    /* margin-left: 55px; */
}

.group-PasswordReset{
    width: 450px;
    margin: auto;
    padding-top: 30px;
    text-align: left;
}

.group-PasswordReset label{
    /* display:flex; */
    font-family: 'Mitr', sans-serif;
    font-weight:500;
    font-size: 16px;
    color: #2E67F8;;
    
}

.group-PasswordReset input{
    margin-top: 8px;
    width: 450px;
    height: 45px;
    background-color: #F8F8F8;
    font-family: 'Mitr', sans-serif;
    font-weight:300;
    font-size: 16px;
    border: 1px solid transparent;
    border-radius: 5px;
    color:#423F48;
    text-indent:10px;
}

.group-PasswordReset input:focus{
    border: 1px solid #5B81FF;
    color: #5B81FF;
}


.bttn-submitforget{
    margin-top: 20px;
    background-color: #2E67F8 ;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 450px;
    /* display: inline-block; */
    font-size: 25px;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
}

.bttn-submitforget:hover{
    background-color: #5B81FF;
}
    
.bttn-submitforget:active:after{
    background-color: #F8F8F8 ;
    border: 1px solid #2E67F8;
}

.bttn-backtoLogin
{
    margin-top: 15px;
    background-color: #5B81FF ;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    width: 450px;
    /* display: inline-block; */
    font-size: 20px;
    font-family: 'Mitr', sans-serif;
    font-weight: 500;
    color: white;
    transition-duration: all 0.5s;
    cursor: pointer;
}

.bttn-backtoLogin:hover{
    background-color: #ABA9BC;
}
    
.bttn-backtoLogint:active:after{
    background-color: #F8F8F8 ;
    border: 1px solid #2E67F8;
}

.ResetPass__Noti{
    width: 100%;
    margin-top: 8px;
    bottom: 26px;
    font-size: 16px;
    font-family: 'Mitr', sans-serif;
    color:rgb(244, 68, 68);
    font-weight: 400;
}