@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');


body
{
    background-color: #F8F8F8;
}
.box-service-hit
{
    height: 444px;
    background-color: #2E67F8;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.font-service-hit
{
    font-family: 'Mitr' ,sans-serif;
    color: white;
    font-size: 40px;
    letter-spacing: 0.08em;
    margin-top: 20px;
}
.box-card-hit
{
    display: flex;
    flex-direction: row;
}
.font-service-covid
{
    font-family: 'Mitr' ,sans-serif;
    color: #464555;
    font-size: 22px;
    margin-bottom: 10px;
    
}
.box-service-covid
{
    margin-top: 30px;
    margin-left: 60px;
}
.box-card-covid
{
    display: flex;
    margin-right: 20px;

}
.font-service-general
{
    font-family: 'Mitr' ,sans-serif;
    color: #464555;
    font-size: 22px;
    margin-bottom: 10px;
    
}
.box-service-general
{
    margin-top: 60px;
    margin-left: 60px;
}
.box-card-general
{
    display: flex;
    margin-right: 20px;

}
.font-service-maintain
{
    font-family: 'Mitr' ,sans-serif;
    color: #464555;
    font-size: 22px;
    margin-bottom: 10px;
    
}
.box-service-maintain
{
    margin-top: 60px;
    margin-left: 60px;
}
.box-card-maintain
{
    display: flex;
    margin-right: 20px;
}
.font-service-dust
{
    font-family: 'Mitr' ,sans-serif;
    color: #464555;
    font-size: 22px;
    margin-bottom: 10px;
    
}
.box-service-dust
{
    margin-top: 60px;
    margin-left: 60px;
}
.box-card-dust
{
    display: flex;
    margin-right: 20px;
}
.font-service-secure
{
    font-family: 'Mitr' ,sans-serif;
    color: #464555;
    font-size: 22px;
    margin-bottom: 10px;
    
}
.box-service-secure
{
    margin-top: 60px;
    margin-left: 60px;
}
.box-card-secure
{
    display: flex;
    margin-right: 20px;

}

