/* body .body1
{
    text-align: center;
} */
.contain-login-page
{
    position: fixed;
    width: 100%;

}
.Form-LoginPage
{
    margin: auto;
    width: 610px;
    /* border: 3px solid #73AD21; */
    padding: 30px;
    text-align: center;
}

.bg-roomfade-login
{
    background-image: linear-gradient(180deg, rgba(247, 25, 136, 0) 0%, rgba(46, 103, 248, 1) 100%);
    height: 800px;
}

.bg-roomservice-login
{
    
    background-image: url('../assets/room1.jpg');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
