.QAPage-container{
    background-color: #F8F8F8;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex; 
    flex-direction: column;
    /* position: absolute; */
}

.QAPage-box{
    background-color: #FFFFFF;
    width: 1000px;
    height: 740px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 40px;
}
.QAPage-Topicfont{
    font-family: 'Mitr', sans-serif;
    color:#2E67F8 ;
    font-size: 30px;
    padding-top: 55px;
    padding-left: 85px;
}
.QAPage-Qfont{
    font-family: 'Mitr', sans-serif;
    color:#464555 ;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 105px;
}
.radio-pos{
    display: flex;
    padding-left: 105px;
    padding-top: 10px;
}
.radio-font{
    font-family: 'Mitr', sans-serif;
    color:#464555 ;
    font-size: 20px;
    padding-left: 10px;
}
.QAPage-button{
    width: 300px;
    height: 70px;
    background-color: #5B81FF;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 180px;
    margin-top: 25px;
    text-align: center;
}
.QAPage-button:hover{
    background-color: #396bea;
    cursor: pointer;
}
.QAPage-buttonFont{
    color: #FFFFFF;
    font-family: 'Mitr', sans-serif;
    font-size:20px;
    padding-top: 20px;
}
.QAPage-buttonPos{
    display: flex;
}
.QAPage-button2{
    background-color: rgb(43, 181, 87);
    margin-left: 30px;
}
.QAPage-button2:hover{
    background-color: rgb(32, 146, 68);
}
.radio-pos input{
    /* background-color: #2E67F8; */
    /* position: absolute; */
    width: 25px;
    height: 25px;
    opacity: 100;
    cursor:pointer;
}

/* .checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: rgb(226, 13, 13);
    border-radius: 50%;
    margin-left: 0px;
    cursor:pointer;
}
.checkmark:hover {
    background-color: #2E67F8;
} */